@CHARSET "UTF-8";
#header{
			font-size:1.5em;
		}
		#company{
			color:black;
			font-size:0.6em;
			margin:0;
			padding:0;
			width:37px;
			height:37px;
		}
		#company img{
			width:38px;
			height:38px;
		}
		.subMenuTitle{
			background-color:#f5f5f5;
			font-weight:bold;
			padding-left:0.5em;
		}
		#bread > .breadcrumb{
			display:none;
		}
		div .row>div{
			border:solid 1px grey;
		}
		div .row h2{
			max-width:100%;
			height:auto;
		}		
		div .titleOfRow{
			width:100%;
			background-color:#f5f5f5;
			font-size:1.4em;
			color:#c9c9c9;
			line-height:40px;			
			font-family:Georgia, serif;	
			font-weight:bold;		
			padding-left:5px;
		}
		
		#headerofplans{
			height:100px;
			background-image: url(images/header.jpg);
			padding-left:37%;
			color:white;
			font-size:2em;
			font-weight:bold;
			line-height:98px;		
			/* border:solid 1px red; */
		}		
		#headerofplans > img{
			width:80px;
			height:60px;				
		}
		a:link ,a:visited{
			color:black;
			font-family:Georgia, serif;
			font-weight:bold;
		}